@model List<BookViewModel>


<div class="text-center">
    <h1 class="display-4">This is Book Page</h1>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (BookViewModel book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.AuthorName</td>
                        <td>@book.ISBN</td>
                        <td>
                            <a class="nav-link text-dark"
                               asp-controller="Book" asp-action="Edit"
                               asp-route-bookId="@book.Id" asp-route-bookTitle="@book.Title">
                                Edit
                            </a>
                            <a class="nav-link text-dark"
                               asp-controller="Book" asp-action="Delete"
                               asp-route-bookId="@book.Id" asp-route-bookTitle="@book.Title">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>